{% extends "base.j2" %}
{% set page_title = '...' %}
{% set page_description = 'No such page here at tactical grace' %}
{% block content %}
<div class='row'>
  <div class='col-sm-12 col-md-8 text-right voffset-top'>
    <h1><br><br>
    There's no page at this URL.
    <br><br><br></h1>
  </div>
</div>
{% endblock %}
