{% extends "base.j2" %}
{% set page_url = '/everything/' %}
{% set page_title = 'Everything!' %}
{% set page_description = 'All of the kits at tactical grace' %}
{% block content %}
{% for grade in gcu['grade_index']|sort %}
<div class='row voffset-top'>
  <h2>{{ grade|fancy_grade }}</h2>
</div>
<div class='row voffset-small'>
{% for kit in gcu['grade_index'][grade] %}
  {{ macros.thumbnail(kit.canonical_url, kit.cover, kit.title) }}
{% endfor %}
</div> <!-- row -->
{% endfor %}
{% endblock %}
