{% extends "base.j2" %}
{% set fancy_grade = grade|fancy_grade %}
{% set page_url = '/%s/' % grade %}
{% set page_title = fancy_grade %}
{% set page_description = fancy_grade + ' kits at tactical grace' %}
{% block content %}
<div class='row voffset-top'>
{% for kit in gcu['grade_index'][grade] %}
  {{ macros.thumbnail(kit.canonical_url, kit.cover, kit.title) }}
{% endfor %}
</div> <!-- row -->
{% endblock %}
