[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "*"
python-dateutil = "*"
pyyaml = "*"
smartcroppy = {git = "https://github.com/hhatto/smartcrop.py"}
watchdog = "*"

[dev-packages]
flake8 = "*"
python-language-server = "*"
yapf = "*"

[requires]
python_version = "2.7"
