{# vim: set tw=0 ft=jinja: #}
{%- extends 'base.html' %}
{%- block page_vars %}
{%- set gcujs = True %}
{%- set grade = get_section(path=section.ancestors[1]) %}
{%- set page_title = grade.title ~ ': ' ~ section.title %}
{%- set page_description = 'tactical grace presents: ' ~ section.title %}
{%- set page_social_img = macros::full(href=section.extra.cover) %}
{%- set nav_top = '/' ~ grade.path %}
{%- set kits = grade.subsections|sort %}
{%- for kit in kits %}
  {%- if macros::kit_path(path=section.relative_path) == macros::kit_path(path=kit) %}
    {%- if loop.index0 > 0 %}
      {%- set prev_idx = loop.index0 - 1 %}
      {%- set_global nav_prev = macros::kit_path(path=kits[prev_idx]) %}
    {%- endif %}
    {%- if loop.index < kits|length %}
      {%- set_global nav_next = macros::kit_path(path=kits[loop.index]) %}
    {%- endif %}
  {%- break %}
  {%- endif %}
{%- endfor %}
{%- endblock page_vars %}
{%- block main %}
{%- for p in section.pages|reverse %}
<div class='row voffset-top'>
  <h2 id='{{ p.date }}'>{{ p.date }}</h2>
</div>
<div class='row voffset-small'>
{%- for photo in p.extra.photos %}
  {%- set img_src = photo.thumb|default(value=photo.href) %}
  {%- set title = photo.title|default(value='') %}
  {%- if photo.href is containing('youtu') %}
    {%- set icon = 'glyphicon-play-circle' %}
  {%- else %}
    {%- set icon = '' %}
  {%- endif %}
<div class='col-xs-6 col-md-3 col-lg-2'>
  <div class='gallery-entry voffset-bottom-small'>
    <a class='gallery' href='{{ macros::full(href=photo.href) }}'{% if title %} data-sub-html='{{ title }}'{% endif %}>
      <img class='img-rounded img-responsive' src='{{ self::thumb(href=img_src) }}'{% if title %} alt='{{ title }}'{% endif %} />
      <span class='glyphicon {{icon}} gallery-icon'></span>
    </a>
  </div>
</div>
{%- endfor %}
</div>
{%- endfor %}
{%- endblock main %}
