{% extends "base.j2" %}
{% set gcujs = True %}
{% set page_social_img = kit.kit_cover %}
{% set page_title = grade|fancy_grade + ': ' + kit.title %}
{% set page_description = 'tactical grace presents: ' + kit.title %}
{% set page_url = kit.canonical_url %}
{% set nav_top = '/%s/' % grade %}
{% if kit.prev %}
{% set nav_prev = kit.prev %}
{% endif %}
{% if kit.next %}
{% set nav_next = kit.next %}
{% endif %}
{% block content %}
{% for entry in kit.entries %}
  <div class='row voffset-top'>
    {% set sd = entry.date|short_date %}
    <h2 id='{{ sd }}'>{{ sd }}</h2>
  </div>
  <div class='row voffset-small'>
{% for photo in entry.photos %}
  {{ macros.photo(photo.href, photo.title) }}
{% endfor %}
  </div>
{% endfor %}
{% endblock %}
