{% extends "base.j2" %}
{% set navbar = False %}
{% set searchbar = True %}
{% set page_url = '/' %}
{% set page_description = 'Welcome to tactical grace!' %}
{% block content %}
<div class='row voffset-top'>
{% for kit in gcu['newest_kits'][0:3] %}
  {{ macros.thumbnail(kit.entries[-1].canonical_url, kit.entries[-1].cover, kit.title, 4) }}
{% endfor %}
</div> <!-- row -->
{% endblock %}
