/* Debug :) */
/*/
div {
  border: 1px solid red;
}
/**/

body {
  background: black;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Exo", sans-serif;
}

h1.title {
  font-size: 500%;
}

h2 {
  font-size: 250%;
}

h1.title > a {
  text-decoration: none;
  color: white;
}

.voffset-top,
.voffset {
  margin-top: 50px;
}

.voffset-bottom,
.voffset {
  margin-bottom: 50px;
}

.voffset-top-small,
.voffset-small {
  margin-top: 25px;
}

.voffset-bottom-small,
.voffset-small {
  margin-bottom: 25px;
}

.model {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 25px;
}

/* Animation settings */
.overlay > *,
.gallery-entry > * {
  transition: all 0.2s ease-out;
}

/* Cover photos */
.overlay {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay > a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  background: black;
  opacity: 0;
  border-radius: 6px;
}

.overlay > h3 {
  display: block;
  position: absolute;
  pointer-events: none;
  background: black;
  color: white;
  padding: 1% 3%;
  margin: 0;
  bottom: 0;
  left: 0;
  opacity: 0.75;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay:hover > a {
  opacity: 0.4;
}

/* Gallery elements. */
.gallery > .glyphicon {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: x-large;
  color: white;
  opacity: 0.6;
  -webkit-text-stroke: 1px black;
}

.gallery-entry {
  position: relative;
}

.gallery-entry:hover {
  opacity: 0.6;
}
